{% extends "layout1.html"%}
{%block content1%}
<div class="container">
    <div class="row">
        <div class="col-md-6 form">
            {%from "_macros.html" import render_field%}
            <form action="/resultado" method="post">
                <div class="row">
                    <div class="control-group col-md-3">
                        <br>
                        <fieldset>
                            <legend class="text-center">Idioma Fuente</legend>
                            <label>
                                <input type="radio" name="rdb" value="E"> Español
                            </label>
                            <label>
                                <input type="radio" name="rdb" value="I"> Ingles
                            </label>
                        </fieldset>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="from-group col-md-8">
                        <br>
                        <br>
                        {{render_field(form.busqueda)}}
                        <input class="btn btn-outline-info" type="submit" value="Buscar">
                    </div>
                </div>
                <input class="btn btn-outline-info hidden" type="submit" value="Buscar">
            </form>
            {%if traduccion!=null :%}
                <h1>La traduccion registrada es : {{traduccion}}</h1>
            {%endif%}
        </div>
        <div class="col-md-6 form">
            {%from "_macros.html" import render_field%}
            <form action="" method="post">
                <div class="from-group">
                    <br>
                    {{render_field(form.ingles)}}
                    {{render_field(form.español)}}
                </div>
                <input class="btn btn-outline-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>
<!--script>
    function limpiarInputs() {
        var inputs = document.querySelectorAll('input[type="text"]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = '';
        }
    }
    window.onload = limpiarInputs;
</script-->
{%endblock%}